body {
  background-image: url(./images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
}
.dog {
  height: 200px;
  position: fixed;
  bottom: 10px;
  left: 0;
}

.ball {
  height: 100px;
  position: fixed;
  bottom: 20px;
  right: 10px;
}
